@import "variables";

.game-cell {
    color: lighten($darkColor, 20);
    width: 50px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding-top: 2px;
    background: $secondaryColor;
    margin: 1px;
    border-radius: 3px !important;
    box-shadow: inset darken($secondaryColor, 20) 0 0 10px, $darkColor 0 0 2px !important;
    border: solid 1px $secondaryColor;

    .glyphicon {
        padding: 8px 2px 0 1px;
        color: $lightColor;
    }
}

.game-open-cell {
    background: $thirdColor;
    border: solid 1px darken($thirdColor, 5);
    box-shadow: inset darken($thirdColor, 4) 0 0 3px, $darkColor 0 0 2px !important;
    color: darken($primaryColor, 3);
}

.game-mine-cell {
    padding-top: 5px;
    background: lighten($thirdColor, 7);
    box-shadow: inset darken($errorColor, 4) 0 0 15px !important;
    border-color: darken($errorColor, 30);
}

.game-flag-cell {
    background: lighten($thirdColor, 7);
    border-color: lighten($thirdColor, 9);
}

.game-wrong-flag-cell {
    background: lighten($errorColor, 7);
    border-color: lighten($errorColor, 9);
}
