@import "variables";

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10em;

    input {
        margin: 20px 0;
        border: none;
        padding: 10px 20px;
        font-size: 1.2em;
        border-radius: 3em !important;
        width: 60%;
        color: $darkColor;
        background: $lightColor;
        border: solid 1px $lightColor;
    }
}
